@keyframes leaveTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

.leave-top {
  animation: leaveTop 1.5s ease-in forwards;
}

.animated-text-container {
  overflow: hidden;
  position: relative;
}

.animated-text {
  display: block;
  font-size: 2.5rem;
  font-weight: 600;
  background: linear-gradient(90deg, var(--highlight-color), #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  width: 100%;
}

.slide-in {
  animation: slideIn 0.5s ease forwards;
}

.slide-out {
  animation: slideOut 0.5s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
