/* ====== Imports ====== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600&display=swap");

/* ====== Variables ====== */
// $bg: #000000;
$bg: #121212;
$bg-secondary: #191919; // inverted.
$color: #ffffff;
$color-secondary: #686868;
// $primary-hover: #ddd;
// $third-cl: #4c40f7;linear-gradient(134deg, #6A98F0 0%, #4961DC 99%)
$third-cl: #4961dc;
$fourth-cl: #6d83f2;
/* ====== General styles ====== */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* scroll bar styling */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid $bg;
  background: $bg-secondary;
  border-radius: 10px;
}

input,
textarea {
  color: $color;
  font-family: "Poppins", sans-serif;
}

a {
  color: $third-cl;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: $bg;
  color: $color;
  font-family: "Poppins", sans-serif;
}

.btn {
  background-color: $third-cl;
  color: $color;
  border: none;
  padding: .8rem 1.2rem;
  display: block;
  border-radius: 10px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  font-weight: bolder;
  transition: all 400ms ease-in-out;

  img {
    margin-left: 10px;
    max-width: 24px;
    max-height: 24px;
  }

  &:hover {transform: scale(1.1);}
}

.btn--tertiary {
  background-color: transparent;
}

.btn--icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section-title {
  position: relative;
  margin-bottom: 24px;
  padding-left: 68px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
  color: $third-cl;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 52px;
    height: 2px;
    background: $third-cl;
  }
}

.subtitle {
  display: block;
  margin: 30px 0 20px 0;
  color: $color-secondary;
  font-weight: bold;
}

.svg-rect {
  width: 40%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
}

#icon {
  fill: $third-cl;
}

svg:hover #icon {
  fill: $fourth-cl;
}

/* ====== Mixins ====== */
@mixin flexBetween() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 1rem 7rem;
  margin-top: 2rem;
  @include flexBetween();
}

.two-options {
  display: flex;

  .btn + .btn {
    margin-left: 10px;
  }
}

.hero, .about, .projects, .contact {
  padding: 12px;

  @media (min-width: 760px) {
    margin: 0 2rem;
  }
}
/* ====== Hero section ====== */
.header {
  .header__nav {
    @include flexBetween;
    align-items: center;
    margin-top: .2rem;
    padding: 6px 0;
  }
  
  .logo {width: 148px;}

  .header__options {
    display: flex;
    align-items: center;
    button {
      margin-left: 1rem;
      img {
        width: 28px;
        height: 28px;
      }
    }
  }

  @media (min-width: 768px) {
  }
}

.hero {
  height: 100vh;

  .section-title {margin-bottom: 0;}

  h1 {
    font-size: 3.5em;
    margin: .8rem 0;
  }

  .hero__text {display: none;}
}

.hero__content {
  margin-top: 2rem;
}

.hero__cover {display: none;}

.lang-switcher, .sound {
  border: none;
  background: none;
  cursor: pointer;
}

.theme {
  width: 28px;
  height: 28px;
  background-color: $third-cl;
  border-radius: 50%;
  border: none;
}

.title {
  font-size: 2.8em;
}

.scroll-down {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  position: absolute;
  bottom: 35px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 50%);

  img {
    margin-right: 16px;
    width: 2rem;
  }
}

.scroll-down__arrow {
  animation: scrollDown 1s ease-in-out infinite;
}

/* ====== Terminal section ====== */
.terminal-main {
  
}
/* ====== About section ====== */
// .about {
//   padding: 1rem;

//   .about__text {
//     margin: 1rem 0;
//   }

//   .about__info {
//     margin: 2rem 0;
//   }
// }

// .social {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;

//   li {
//     padding: 8px;
//     background-color: firebrick;
//   }
//   a {
//     margin-right: 1rem;
//     // display: inline-block;
//   }

//   svg {
//     width: 28px;
//     height: 28px;
//   }
// }

// /* ====== Projects section ====== */
// .projects {
//   padding: 1rem;
// }

// .card {
//   position: relative;
//   display: grid;
//   grid-template-columns: repeat(1, 1fr);
//   border-radius: 8px;
//   overflow: hidden;
//   margin: 2rem 0;

//   img {
//     width: 300px;
//     height: 360px;
//   }

//   .card__main {
//     position: relative;
//     z-index: 2;
//     border-radius: 4px;
//     color: $color;
//   }

//   .card__links {
//     font-size: 1.4em;
//   }
// }

// .card__info div,
// h2 {
//   margin: 1rem 0;
// }

// .card__info {
//   padding: 30px 25px 20px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   height: 100%;
//   grid-column: 1 / -1;
//   z-index: 5;
//   background-color: #0000003d;
// }

// .card .card__info {
//   position: relative;
//   grid-area: 1 / 1 / -1 / 7;
// }

// .card .card__techstack {
//   display: flex;
//   flex-wrap: wrap;
//   position: relative;
//   z-index: 2;
//   padding: 0px;
// }

// .card .card__techstack li {
//   margin: 0px 20px 5px 0px;
//   white-space: nowrap;
// }

// .card .card__links {
//   display: flex;
//   align-items: center;
//   position: relative;
//   margin-top: 10px;
//   margin-left: -10px;

//   img {
//     width: 28px;
//     height: 28px;
//   }
// }

// .card .card__links a {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 10px;
// }

// .card .card__img {
//   cursor: pointer;
//   box-shadow: 0 10px 30px -15px $bg-secondary;
//   transition: all 0.6s ease-in-out;
//   grid-area: 1 / 6 / -1 / -1;
//   position: relative;
//   z-index: 1;
//   filter: grayscale(1);
// }

// .card .card__img {
//   grid-column: 1 / -1;
//   height: 100%;
//   opacity: 0.25;
// }

// .card .card__img a {
//   width: 100%;
//   height: 100%;
//   border-radius: 4px;
//   vertical-align: middle;
// }

// .card .card__img img {
//   object-fit: cover;
//   width: 100%;
//   height: 100%;
// }

// /* ====== Contact section ====== */
// .contact {
//   border-radius: 20px;
//   padding: 1rem;
// }

// .contact__info {
//   margin: 2rem 0;

//   i {
//     color: $third-cl;
//   }

//   li {
//     margin-bottom: 16px;

//     div:first-child {
//       margin-right: 1.3rem;
//     }

//     div {
//       display: inline-block;
//     }
//   }
// }

// .contact__form {
//   li {
//     border-radius: 10px;
//     overflow: hidden;
//     margin: 10px 0;
//     position: relative;
//     background-color: $bg-secondary;
//   }

//   // i {
//   .form__icon {
//     width: 24px;
//     height: 24px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: $color;
//     position: absolute;
//     top: 16px;
//     right: 8px;
//   }

//   input {
//     height: 58px;
//   }

//   input,
//   textarea {
//     background: transparent;
//     width: 100%;
//     border: none;
//     padding: 12px 50px 12px 16px;
//   }

//   textarea {
//     resize: none;
//   }

//   .submit-btn {
//     width: 100%;
//     padding: 12px;
//     font-size: 1em;
//     background-color: $third-cl;
//     color: $color;
//     cursor: pointer;
//     transition: all 0.4s ease-in-out;

//     &:hover {
//       background-color: $fourth-cl;
//       // color: $third-cl;
//       // scale: 2;
//       // box-shadow: 28px 18px 8px 8px red;
//     }
//   }
// }

// /* ====== Animations ====== */
@keyframes scrollDown {
  0% {
    margin-top: -2px;
  }
  50% {
    margin-top: 12px;
  }
  100% {
    margin-top: -2px;
  }
}
// /* ====== Media Queries ====== */
// @media only screen and (min-width: 400px) {
//   .section-title {
//     font-size: 1.6em;
//   }

//   .title {
//     font-size: 4.5em;
//   }

//   .highlight {
//     color: $third-cl;
//     display: inline-block;
//   }

//   .header {
//     height: 100vh;
//     padding: 0 1rem;

//     .header__nav {
//       @include flexBetween;
//       margin-top: 1rem;
//       padding: 6px;
//     }

//     .hero__content {
//       position: relative;
//       margin: 20vh 0 0 0;

//       h1 {
//         font-size: 5em;
//       }
//     }
//   }

//   /* ====== About section ====== */
//   .about {
//     margin: auto;
//     padding: 1.4rem;

//     .about__text {
//       font-size: 1.2em;
//     }
//   }
//   /* ====== Projects section ====== */
//   .projects {
//     padding: 1.4rem;

//     .card__info {
//       padding: 1rem 2rem;
//     }
//   }

//   /* ====== Contact section ====== */
//   .contact {
//     border-radius: 20px;
//     padding: 1rem;
//   }

//   .contact__info {
//     li {
//       margin-bottom: 16px;
//       font-size: 1.2em;
//       div:first-child {
//         margin-right: 1.3rem;
//       }

//       div {
//         display: inline-block;
//       }
//     }
//   }

//   .social {
//     font-size: 1.2em;
//   }
// }

// @media only screen and (min-width: 1024px) {
//   .section-title {
//     font-size: 1.3em;
//   }

//   .title {
//     font-size: 4.5em;
//   }

//   .header {
//     height: 100vh;
//     padding: 0;
//     margin: 0 4rem;

//     .header__nav {
//       @include flexBetween;
//       margin-top: 1rem;
//       padding: 6px;

//       .hero__text {
//         display: block;
//       }
//     }

//     .hero__content {
//       position: relative;
//       margin: 15vh 0 0 0;

//       p:last-child {
//         color: $color-secondary;
//         width: 52%;
//         display: block;
//       }
//     }
//   }

//   /* ====== About Section ====== */
//   .about {
//     padding: 0;
//     margin: 0 4rem;
//     @include flexBetween();
//     height: 90vh;

//     .about__info,
//     .about__animation {
//       width: 50%;
//     }

//     .about__text {
//       font-size: 1em;
//     }

//     svg {
//       width: 28px;
//       height: 28px;
//     }
//   }

//   /* ====== projects Section ====== */
//   .projects {
//     margin: 0 4rem;
//     padding: 0;
//   }

//   .projects__list {
//     margin: 0 3rem;
//   }

//   .card {
//     position: relative;
//     display: grid;
//     gap: 10px;
//     grid-template-columns: repeat(12, 1fr);
//     align-items: center;
//     margin: 6rem 0;

//     img {
//       width: 580px;
//       height: 360px;
//     }

//     .card__main {
//       box-shadow: 0 10px 30px -15px $bg-secondary;
//       position: relative;
//       z-index: 2;
//       padding: 25px;
//       border-radius: 4px;
//       background-color: $bg-secondary;
//       color: $color;
//     }

//     .card__links {
//       font-size: 1.4em;
//     }
//   }

//   .card__info div,
//   h2 {
//     margin: 1rem 0;
//   }

//   .lazy-div:nth-of-type(2n + 1) .card__info {
//     grid-column: 7 / -1;
//     text-align: right;
//   }

//   .card .card__info {
//     padding: 0px;
//     position: relative;
//     background: none;
//     grid-area: 1 / 1 / -1 / 7;
//   }

//   .lazy-div:nth-of-type(2n + 1) .card__techstack {
//     -webkit-box-pack: end;
//     justify-content: flex-end;
//   }

//   .card .card__techstack {
//     display: flex;
//     flex-wrap: wrap;
//     position: relative;
//     z-index: 2;
//     margin: 25px 0px 10px;
//     padding: 0px;
//     list-style: none;
//   }

//   .lazy-div:nth-of-type(2n + 1) .card__techstack li {
//     margin: 0px 0px 5px 20px;
//   }

//   .card .card__techstack li {
//     margin: 0px 20px 5px 0px;
//     white-space: nowrap;
//   }

//   .lazy-div:nth-of-type(2n + 1) .card__links {
//     -webkit-box-pack: end;
//     justify-content: flex-end;
//     margin-left: 0px;
//     margin-right: -10px;
//   }

//   .card .card__links {
//     display: flex;
//     align-items: center;
//     position: relative;
//     margin-top: 10px;
//     margin-left: -10px;
//   }

//   .card .card__links a {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 10px;
//   }

//   .lazy-div:nth-of-type(2n + 1) .card__img {
//     grid-column: 1 / 8;
//   }

//   .card .card__img {
//     cursor: pointer;
//     box-shadow: 0 10px 30px -15px $bg-secondary;
//     transition: all 0.6s ease-in-out;
//     grid-area: 1 / 6 / -1 / -1;
//     position: relative;
//     z-index: 1;
//     filter: grayscale(1);
//     opacity: 1;

//     img {
//       border-radius: 4px;
//       width: 580px;
//       height: 360px;
//     }

//     &:hover {
//       filter: grayscale(0);
//     }
//   }

//   /* ====== Contact Section ======*/
//   .contact {
//     border-radius: 20px;
//     margin: 2rem 6rem;

//     h2,
//     p {
//       width: 100%;
//     }

//     .contact__subtitle {
//       font-size: 1.1em;
//     }
//   }

//   .contact__main {
//     display: flex;
//     margin-top: 4rem;

//     .contact__info,
//     .contact__form {
//       width: 100%;
//     }

//     div {
//       width: 100%;
//     }
//   }

//   .contact__info {
//     margin: 0;

//     li {
//       margin-bottom: 16px;
//       font-size: 1.2em;
//       width: 100%;

//       div:first-child {
//         margin-right: 0;
//         width: 50px;
//       }

//       div {
//         margin: 0;
//         display: block;
//         display: inline-block;
//       }
//     }
//   }

//   .contact__form {
//     width: 80%;
//     margin-top: 2.3rem;

//     input,
//     textarea {
//       font-size: 1em;
//     }
//   }
// }
